@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');


body {
    font-size: 16px/26px;
    font-family: 'Karla', sans-serif;
}

h4{
    color: #4BAAE6;

}



.header-image {
   background-size: cover;
   background-image: url(../img/clothes.jpg); 
   background-repeat: no-repeat;
   width: 100%;
   height: 100vh;
}

.header-image:before {
    content: " ";
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 20%, rgba(75, 170, 230, 0.4) 40%, rgba(0, 0, 0, 0.9) 70%)
}

.header-text-container {
  position: relative;
  margin-top: 20%;
}

.header-text, 
.header-subtext,
.header-button,
.arrow  {
    color: white;
    position: absolute;
    z-index: 1;

}


.header-subtext {
    position: relative;
    margin-top: 150px;
    font-size: 11px;

}

.header-text-weight {
    font-weight: 600;
}

.header-arrow {
    position: relative;
}

a.arrow {
    font-size: 34px;
    font-weight: thin;
    text-decoration: none;
    position: relative;
    top: 0;
    color: white;
    transition: top ease 0.5s;
}

a.arrow:hover {
    top: 10px;
    color: white;
}


a.head-button {
  display: inline-block;
  width: 140px;
  cursor: pointer;
  font-weight: bold;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.head-button:hover,
.head-button:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

#mainFooter{
    text-align: center;
}


.fixed {
    position: fixed; 
    top: 0; 
    height: 50px; 
    z-index: 1;
}

nav {

  width: 100%;
  height: 50px;
  border-radius: 0 !important;
}

.navbar-custom {
    -webkit-box-shadow: 0px 2px 8px #999;
    -moz-box-shadow:    0px 2px 8px #999;
    box-shadow:         0px 2px 8px #999;
    z-index:999;
}

.toggleScroll {
  overflow: hidden;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
      top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
      position: relative;
      transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
      top: 6px;
      transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
      background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
      top: -6px;
      transform: rotate(-45deg);
}

.navbar-header {
  float: none;
}
.navbar-toggle {
  display: block;
  background-color: transparent;
  border: none;
}


.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: #F8F8F8 !important;
}

.navbar-inverse {
  border: none;
  background-color: transparent;
}

.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
}
.navbar-nav>li {
  float: none;
}
.navbar-collapse.collapse.in{
  display:block !important;
}


.second-header {
    margin-top: 80px;
}

.second-image img {
    width: 100%;
    margin-top: 40px;

}


.star {
    visibility: hidden;
}

.fadeIn {
    -webkit-animation: animat_show 1s;
    animation: animat_show 1s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}




/* ========================
         MEDIA QUERY 
   ======================== */


@media only screen and (min-width: 375px) {

  .header-arrow {
    margin-top: 65%;
  }

  .header-subtext {
    margin-top: 220px;
    font-size: 11px;
  }

  .header-text {
    font-size: 34px;
    margin-top: 90px;
  }

  .header-text-container {
    margin-top: 15%;
  }

  a.head-button {
    display: inline-block;
    width: 130px;
  }

  #footerRights {
    margin-top: 140px;
      text-align: center;
  }

}


@media only screen and (min-width: 414px) {

  .header-arrow {
    margin-top: 70%;
  }

  .header-text {
    font-size: 36px;
  }

  .header-subtext {
    font-size: 12px;
  }

  a.head-button {
    display: inline-block;
    width: 140px;
  }

  #footerRights {
    margin-top: 110px;
  }

}


@media only screen and (min-width: 768px) {

  .header-arrow {
    margin-top: 45%;
  }

  .header-text-container {
    margin-top: 35%;
  }

  .header-text {
    font-size: 41px;
  }

  .header-subtext {
    padding-top: 20px;
    font-size: 12px;
  }

  a.head-button {
    width: 160px;
  }

  .social-circle li a {
    margin-top: 5px;
  } 

  #footerRights {
    margin-top: 0;
  }

  .footerWidget {
    margin-top: 20px;
  }


}


@media only screen and (min-width: 992px) {

  .header-arrow {
    margin-top: 18%;
  }

  .header-text-container {
    margin-top: 15%;
  }

  .header-text {
    font-size: 36px;
  }

  .header-subtext {
    padding-top: 0px;
    font-size: 10px;
  }

  a.head-button {
    width: 140px;
  }

  .social-circle li a {
    width: 43px;
    height: 43px;
    font-size: 22px;
    margin-right: -6px;
    margin-left: -3px;
  }

  .social-circle li i {
    margin:0;
    line-height: 44px;
    text-align: center;
  }

}



@media only screen and (min-width: 1200px) {

  .header-arrow {
    margin-top: 16%;
  }

  .social-circle li a {
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin-right: 6.1px;
    /*margin-left: -3px;*/
  }

  .social-circle li i {
    margin:0;
    line-height: 48px;
    text-align: center;
  }

}






